0   &emsp; 5059 <br>
2    &emsp; 394<br>
4    &emsp; 350<br>
1    &emsp; 282<br>
5   &emsp;  261<br>
3  &emsp;   184<br>
6   &emsp;  117<br>
7   &emsp;  115<br>
<br>
each day indicate how many apartment sold 0 means not sold <br>
1 means sold in day 7/8/2022<br>
2 means sold in day 8/8/2022 <br>
...         ...     ...<br>
7 means sold in day 12/8/2022<br>
<br>
i would like to say that i have the data in 1st , 2nd and 3rd of this month but i don't have the data in the 4th and 5th of this month so i started in the 6th 
<br>
1/8  i have <br>
2/8  i have <br>
3/8  i have <br>
4/8  i don't have <br>
5/8  i don't have <br>
6/8  i have <br>
7/8  i have <br>
8/8  i have <br>
9/8  i have <br>
10/8 i have <br>
11/8 i have <br>
12/8 i have  <br>
13/8 i have  <br>
...

In [275]:
import pandas as pd
import numpy as np
import math
from sklearn.model_selection import train_test_split
from sklearn.compose import TransformedTargetRegressor
from sklearn.compose import ColumnTransformer
from sklearn.compose import make_column_selector as selector
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer
from sklearn.feature_selection import VarianceThreshold
from sklearn.decomposition import PCA
import datetime
from datetime import timedelta
import ast
import json    
import missingno as msno

In [276]:
yest =pd.read_csv('../data/aqar.csv')
Today =  pd.read_csv('../data/13-8-2022,12:34.csv')

In [277]:
day = 7

In [278]:
Today.columns

Index(['user_id', 'id', 'title', 'price', 'content', 'imgs', 'refresh', 'beds',
       'livings', 'wc', 'area', 'street_width', 'age', 'last_update',
       'ketchen', 'ac', 'furnished', 'location', 'path', 'user', 'district',
       'width', 'length', 'advertiser_type', 'create_time', 'review',
       'profileImg', 'UserName', 'iam_verified', 'rega_id'],
      dtype='object')

In [279]:
if yest.columns[0] == 'Unnamed: 0':
    yest.drop('Unnamed: 0' , axis = 1 , inplace=True)

In [280]:
if Today.columns[0] == 'Unnamed: 0':
    Today.drop('Unnamed: 0' , axis = 1 , inplace=True)

In [281]:
# yest['sold'] = 0

In [282]:
Today.shape

(7064, 30)

In [283]:
df3 = yest.merge(Today, on='id', how='left', indicator=True)
df3['sold'].value_counts()

0    5174
2     394
4     350
1     282
5     261
3     184
6     117
Name: sold, dtype: int64

In [284]:
df3 = yest.merge(Today, on='id', how='left', indicator=True)
df3 = df3.loc[(df3['_merge'] == 'left_only') & (df3['sold'] == 0 )]
df3.drop(df3.filter(regex='_y$').columns, axis=1, inplace=True)

In [285]:
df3['sold'].value_counts()

0    115
Name: sold, dtype: int64

In [286]:
df3['sold_x'] = day

In [287]:
yest[yest['id'] == 4554519]['sold']

2    2
Name: sold, dtype: int64

In [288]:
yest[yest['id'] == 4537352]['sold']

29    1
Name: sold, dtype: int64

In [289]:
for i in list(df3['id']) : 
    yest.loc[yest["id"] == i, "sold"] = day

In [290]:
yest['sold'].value_counts()

0    5059
2     394
4     350
1     282
5     261
3     184
6     117
7     115
Name: sold, dtype: int64

In [291]:
yest.to_csv('../data/aqar.csv' , index=False)