# after the join phase is the update phase where i will update the diffrent in time

In [2]:
import pandas as pd
import numpy as np
import math
from sklearn.model_selection import train_test_split
from sklearn.compose import TransformedTargetRegressor
from sklearn.compose import ColumnTransformer
from sklearn.compose import make_column_selector as selector
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer
from sklearn.feature_selection import VarianceThreshold
from sklearn.decomposition import PCA
import datetime
from datetime import timedelta
import ast
import json    
import missingno as msno

In [3]:
df =pd.read_csv('../data/aqar.csv')

In [6]:
df['DayOfRent'].value_counts()

0     4434
2      394
4      350
1      282
5      261
8      245
10     212
3      184
9      168
6      117
7      115
Name: DayOfRent, dtype: int64

In [11]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'user_id', 'id', 'title', 'price',
       'content', 'imgs', 'refresh', 'beds', 'livings', 'wc', 'area',
       'street_width', 'age', 'last_update', 'ketchen', 'ac', 'furnished',
       'location', 'path', 'user', 'district', 'width', 'length',
       'advertiser_type', 'create_time', 'review', 'profileImg', 'UserName',
       'iam_verified', 'rega_id', 'DayOfRent', 'soldAt'],
      dtype='object')

In [7]:
df.drop(['DayOfRent' ], axis = 1 , inplace=True) #this will drop the DayOfRentdate

In [14]:
df['create_time'][1][2:12] # the create date is a string with the time bbut now i need only the time

'2022-08-06'

In [18]:
df['DayOfRent'][2] #first i will check if it is DayOfRentor not

2

In [19]:
pd.to_datetime('2022/08/08', format='%Y-%m-%d') #then if it is DayOfRentin 2 then it is DayOfRentin this date

Timestamp('2022-08-08 00:00:00')

In [20]:
pd.to_datetime(df['create_time'][3][2:12], format='%Y-%m-%d') #them i will subtract the date it DayOfRent- the day it create it

Timestamp('2022-03-10 00:00:00')

In [21]:
td = pd.to_datetime('2022/08/08', format='%Y-%m-%d') - pd.to_datetime(df['create_time'][3][2:12], format='%Y-%m-%d')
td # after subtract it will shows a series of timedeltas

Timedelta('151 days 00:00:00')

In [22]:
# to convert it to int 
td = int((td / np.timedelta64(1, 'D')))
td 
#and now i have to do this to all the rows

151

In [12]:
# 5 <- 11/8

177.0

In [23]:
df['timeBeforeRent'] = 0

In [80]:
# df['soldAt'][3] = (pd.to_datetime('2022/08/07', format='%Y-%m-%d') - pd.to_datetime(df['create_time'][index][2:12], format='%Y-%m-%d'))/np.timedelta64(1, 'D')

/tmp/ipykernel_9666/3652563829.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['soldAt'][3] = (pd.to_datetime('2022/08/07', format='%Y-%m-%d') - pd.to_datetime(df['create_time'][index][2:12], format='%Y-%m-%d'))/np.timedelta64(1, 'D')

UFuncTypeError: ufunc 'true_divide' cannot use operands with types dtype('int64') and dtype('<m8[D]')

In [68]:
# df['soldAt'][3] = ((td )

UFuncTypeError: ufunc 'true_divide' cannot use operands with types dtype('int64') and dtype('<m8[D]')

In [25]:
x= 0 
print(f'2022/08/0{x}')

2022/08/00

In [ ]:
i = 8 
f =14
for index, row in df.iterrows():

    if row["DayOfRent"] == 1:
        df['timeBeforeRent'][index] = (pd.to_datetime('2022/08/07', format='%Y-%m-%d') - pd.to_datetime(df['create_time'][index][2:12], format='%Y-%m-%d'))/np.timedelta64(1, 'D')
    elif row["DayOfRent"] == 2:
        df['timeBeforeRent'][index] =(pd.to_datetime('2022/08/08', format='%Y-%m-%d') - pd.to_datetime(df['create_time'][index][2:12], format='%Y-%m-%d'))/np.timedelta64(1, 'D')
    elif row["DayOfRent"] == 3:
        df['timeBeforeRent'][index] = (pd.to_datetime('2022/08/09', format='%Y-%m-%d') - pd.to_datetime(df['create_time'][index][2:12], format='%Y-%m-%d'))/np.timedelta64(1, 'D')
    elif row["DayOfRent"] == 4:
        df['timeBeforeRent'][index] = (pd.to_datetime('2022/08/10', format='%Y-%m-%d') - pd.to_datetime(df['create_time'][index][2:12], format='%Y-%m-%d'))/np.timedelta64(1, 'D')
    elif row["DayOfRent"] == 5:
        df['timeBeforeRent'][index] = (pd.to_datetime('2022/08/11', format='%Y-%m-%d') - pd.to_datetime(df['create_time'][index][2:12], format='%Y-%m-%d'))/np.timedelta64(1, 'D')
    elif row["DayOfRent"] == 6:
        df['timeBeforeRent'][index] = (pd.to_datetime('2022/08/12', format='%Y-%m-%d') - pd.to_datetime(df['create_time'][index][2:12], format='%Y-%m-%d'))/np.timedelta64(1, 'D')
    elif row["DayOfRent"] == 7:
        df['timeBeforeRent'][index] = (pd.to_datetime('2022/08/13', format='%Y-%m-%d') - pd.to_datetime(df['create_time'][index][2:12], format='%Y-%m-%d'))/np.timedelta64(1, 'D')
    elif row["DayOfRent"] == 8:
        df['timeBeforeRent'][index] = (pd.to_datetime('2022/08/14', format='%Y-%m-%d') - pd.to_datetime(df['create_time'][index][2:12], format='%Y-%m-%d'))/np.timedelta64(1, 'D')
    elif row["DayOfRent"] == i+1:
        df['timeBeforeRent'][index] = (pd.to_datetime(f'2022/08/{f+1}', format='%Y-%m-%d') - pd.to_datetime(df['create_time'][index][2:12], format='%Y-%m-%d'))/np.timedelta64(1, 'D')
    elif row["DayOfRent"] == i+2:
        df['timeBeforeRent'][index] = (pd.to_datetime(f'2022/08/{f+2}', format='%Y-%m-%d') - pd.to_datetime(df['create_time'][index][2:12], format='%Y-%m-%d'))/np.timedelta64(1, 'D')

In [27]:
df['timeBeforeRent'].value_counts()

0       4434
10        89
6         88
14        80
8         77
        ...
149        1
102        1
1199       1
80         1
202        1
Name: soldAt, Length: 140, dtype: int64

In [28]:
df['timeBeforeRent'].mean()

9.814256137237503

In [29]:
df.loc[(df['timeBeforeRent']!=0) ]['timeBeforeRent'].describe() #DayOfRentones only

count    2328.000000
mean       28.506873
std        38.792872
min         1.000000
25%        10.000000
50%        18.000000
75%        38.000000
max      1199.000000
Name: soldAt, dtype: float64

In [30]:
df['timeBeforeRent'].describe()

count    6762.000000
mean        9.814256
std        26.484581
min         0.000000
25%         0.000000
50%         0.000000
75%        10.000000
max      1199.000000
Name: soldAt, dtype: float64

In [31]:
# df.rename(columns = {'soldAt':'timeBeforeRent'}, inplace = True)

In [32]:
df.columns

Index(['user_id', 'id', 'title', 'price', 'content', 'imgs', 'refresh', 'beds',
       'livings', 'wc', 'area', 'street_width', 'age', 'last_update',
       'ketchen', 'ac', 'furnished', 'location', 'path', 'user', 'district',
       'width', 'length', 'advertiser_type', 'create_time', 'review',
       'profileImg', 'UserName', 'iam_verified', 'rega_id', 'DayOfRent',
       'timeBeforeRent'],
      dtype='object')

In [33]:
df.to_csv('../data/aqar.csv' , index=False)